* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  
}

#home-continer {
  width: 100vw;
  height: 100vh;
  position: relative;
  object-fit: cover;
  position: relative;
}

#main-img{
height: 100%;
width: 100%;
 z-index: -1;
}

#uber-logo{
    width: 100%;
    height: 6vh;
    z-index: 1;
    position: absolute;
    top: 1vh;
    margin-bottom: 1vh;
}
#uber-logo img {
    padding: 2px;
    height: 100%;
    object-fit: contain;
}

#home-content{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    padding: 20px;
    color: rgb(20, 20, 20);
    background-color: white;
}

#home-content h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

#btn{
    width: 100%;
    height: 50px;
    background-color: rgb(20, 20, 20);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
}


